[Desktop Entry]
Name=DNS Jumper
Comment=Change and test DNS profiles easily
Exec=dnsjumper
Icon=dnsjumper
Terminal=false
Type=Application
Categories=Network;Settings;
